body {
    background-color: yellow;
    font-family: Arial, sans-serif;
    background-image: url(https://www.openaire.eu/templates/yootheme/cache/0f/aztu-logo--0f2f30cc.png);

    background-repeat: no-repeat;
    background-size: cover;
    
}




